{% extends 'base.html' %}

{% block content %}

<div class="row mt-3">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">1. Django Web API</h5>
                <p class="card-text">All you API's are here</p>
                <a target="blank" class="btn btn-primary" href="{% url 'movies' %}">View API</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">2. Token Based Authentication</h5>
                <p class="card-text">Make a get request to endpoint: "/get-token" to recieve your token onces you have successfully signed up.</p>
                <a target="blank" class="btn btn-success" href="/get-token">Token</a>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">3. Login Signup</h5>
                <p class="card-text">Used Function Based Views from Django for Login/SignUp</p>
                <a href="{% url 'loginuser' %}" class="btn btn-warning">Log In</a>
                <a href="{% url 'signupuser' %}" class="btn btn-info">Sign Up</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">4. Github Repository</h5>
                <p class="card-text">GitHub Repository that has all the code </p>
                <a href="https://github.com/slk007/RateMyMovie" class="btn btn-danger">View Code</a>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">5. Admin Panel<h5>
                <p class="card-text">Basic Admin Panel Provide by Django.</p>
                <a href="/admin" class="btn btn-dark">View Django Admin Panel</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">6. API Endpoints</h5>
                <p class="card-text">All the API Endpoints are listed in API.md File</p>
                <a href="https://github.com/slk007/RateMyMovie/blob/master/API.md" class="btn btn-primary">View API.md</a>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">7. Task</h5>
                <p class="card-text">Task, that sends the average rating of each movie to all of the admins, at
                    midnight daily</p>
                <a target="blank" class="btn btn-danger"
                    href="#">Notifications</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">8. ER Diagram</h5>
                <p class="card-text">A Database Diagram to show the Tables made in Backend and their Relationship</p>
                <a target="blank" class="btn btn-warning"
                    href="https://drawsql.app/personal-116/diagrams/ratemymovie#">View ER Diagram</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}